# Environment Setup

## Import Libraries

In [11]:
# Import required libraries

from scipy.sparse import csr_matrix
import numpy as np
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Read Data

In [12]:
# Read previously processed test & train data

train = pd.read_pickle('../data/processed/train.pkl')
test = pd.read_pickle('../data/processed/test.pkl')

In [13]:
# View loaded train data

train.head()

,user_id,recipe_id,date,rating,review,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
36266,1800243352,371233,2018-05-21,5,So my neighbor gave me a bunch of rhubarb this...,strawberry rhubarb crunch,75,618715,2009-05-10,"['time-to-make', 'course', 'main-ingredient', ...","[307.4, 15.0, 145.0, 3.0, 5.0, 29.0, 17.0]",8,"['preheat the oven to 350f', 'in a large bowl ...",delicious with fresh strawberries and rhubarb.,"['all-purpose flour', 'brown sugar', 'oatmeal'...",11.0
30564,2001245747,535666,2018-06-01,4,"I don't care for sweets in the morning, so thi...",parmesan french toast,15,2001624045,2018-04-20,"['15-minutes-or-less', 'time-to-make', 'course...","[294.3, 38.0, 2.0, 17.0, 27.0, 64.0, 1.0]",10,"['whisk the egg , parmesan , paprika , mustard...",while obviously a contender for weekend brunch...,"['egg', 'parmesan cheese', 'paprika', 'dijon m...",11.0
3784,2000377661,344916,2017-02-18,5,"Wow! I can't stomach fat any longer, so loved ...",collard greens pressure cooker method,50,23466,2008-12-23,"['60-minutes-or-less', 'time-to-make', 'course...","[122.5, 11.0, 13.0, 17.0, 8.0, 5.0, 3.0]",10,['remove the dirt from the collard greens by f...,i found this recipe on the atlanta journal-con...,"['collard greens', 'chicken broth', 'olive oil...",9.0
18157,2000547256,272930,2018-10-17,0,It would be helpful if your measurements were ...,auberge cheddar cheese and ham breakfast buns ...,30,242729,2007-12-20,"['ham', '30-minutes-or-less', 'time-to-make', ...","[562.2, 45.0, 1.0, 27.0, 44.0, 53.0, 16.0]",10,['pre-heat an oven to 200c / 400f / gas mark 5...,"these are what the french call ""cakes"" - they ...","['self raising flour', 'instant bouillon granu...",11.0
21671,2002004080,95466,2018-06-16,0,What kind of onion are we talking about here? ...,so simple cowboy caviar,20,58038,2004-07-12,"['30-minutes-or-less', 'time-to-make', 'course...","[191.4, 11.0, 29.0, 3.0, 12.0, 5.0, 8.0]",6,"['in small saucepan , combine oil , sugar and ...",had this at a potluck picnic and it was wonder...,"['oil', 'sugar', 'vinegar', 'pinto beans', 'bl...",11.0

In [14]:
# View Loaded test data

test.head()

,user_id,recipe_id,date,rating,review,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
1364,236262,141789,2017-04-24,5,Delicious! I was looking for something a littl...,caesar pork chops,50,73836,2005-10-18,"['60-minutes-or-less', 'time-to-make', 'course...","[384.5, 40.0, 3.0, 25.0, 54.0, 33.0, 2.0]",10,"['heat oven to 375f', 'spray a 12 x 8 inch gla...",i am always looking for new and delicious ways...,"['flour', 'italian seasoning', 'caesar salad d...",5.0
32493,2001707102,43023,2017-09-14,5,I used heavy cream instead of milk and a lot m...,creamy garlic penne pasta,15,37305,2002-10-14,"['15-minutes-or-less', 'time-to-make', 'course...","[363.8, 12.0, 0.0, 9.0, 19.0, 21.0, 21.0]",7,['melt butter and add garlic in a medium sauce...,"this is a delicious, super quick side or main ...","['penne', 'butter', 'garlic cloves', 'flour', ...",9.0
47505,266635,363150,2018-01-31,5,A nice change of pace from regular mac and che...,oven macaroni,40,157425,2009-03-27,"['60-minutes-or-less', 'time-to-make', 'course...","[517.2, 30.0, 5.0, 44.0, 45.0, 56.0, 20.0]",5,['in a 1 quart casserole dish blend together s...,a quick side dish or vegetarian meal. recipe f...,"['tomato bisque soup', 'water', 'cheddar chees...",8.0
40831,1755201,70522,2017-03-11,5,This is a basic recipe for corned beef and cab...,corned beef in beer crock pot,550,41531,2003-09-04,"['weeknight', 'time-to-make', 'course', 'main-...","[817.5, 66.0, 39.0, 109.0, 93.0, 72.0, 18.0]",9,"['place potatoes , onions , carrots , and bay ...",the best corned beef i've ever made was in the...,"['corned beef brisket', 'potatoes', 'onions', ...",8.0
7981,2001052641,447279,2018-05-25,0,Delicious! I made a Persian almond cake with p...,rose flavored buttercream frosting icing for c...,15,1375473,2011-01-25,"['15-minutes-or-less', 'time-to-make', 'course...","[108.2, 5.0, 73.0, 1.0, 0.0, 12.0, 6.0]",8,['if you use unsalted butter-- add a couple sh...,rosewater has the same potency as vanilla extr...,"[""confectioners' sugar"", 'salted butter', 'ros...",5.0

# Feature Engineering

## Data Shape Details

In [15]:
# Viewing test & train dataset shape

train.shape, test.shape

((13663, 16), (5856, 16))

## Data Information Details

In [16]:
# Checking train data information

train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13663 entries, 36266 to 38060
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         13663 non-null  int64
 1   recipe_id       13663 non-null  int64
 2   date            13663 non-null  datetime64[ns]
 3   rating          13663 non-null  int64
 4   review          13653 non-null  object
 5   name            13663 non-null  object
 6   minutes         13663 non-null  int64
 7   contributor_id  13652 non-null  object
 8   submitted       13663 non-null  datetime64[ns]
 9   tags            13663 non-null  object
 10  nutrition       13652 non-null  object
 11  n_steps         13663 non-null  int64
 12  steps           13663 non-null  object
 13  description     13663 non-null  object
 14  ingredients     13663 non-null  object
 15  n_ingredients   13652 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 1.8+ MB

In [17]:
# Checking test data information

test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5856 entries, 1364 to 4118
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         5856 non-null   int64
 1   recipe_id       5856 non-null   int64
 2   date            5856 non-null   datetime64[ns]
 3   rating          5856 non-null   int64
 4   review          5851 non-null   object
 5   name            5856 non-null   object
 6   minutes         5856 non-null   int64
 7   contributor_id  5851 non-null   object
 8   submitted       5856 non-null   datetime64[ns]
 9   tags            5856 non-null   object
 10  nutrition       5851 non-null   object
 11  n_steps         5856 non-null   int64
 12  steps           5856 non-null   object
 13  description     5856 non-null   object
 14  ingredients     5856 non-null   object
 15  n_ingredients   5851 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(5), object(8)
memory usage: 777.8+ KB

# Unused feature Removal

In [18]:
# Defining custom function to remove unused features in dataframe

def unused_feat_removal(df, feature_to_remove):
    df.drop(columns=feature_to_remove, inplace=True)
    return df

In [19]:
# initiatlizing unused column in dataset to be removed

feature_to_remove = ["date", "review", "name", "minutes", "contributor_id", "submitted",
                     "tags", "nutrition", "n_steps", "steps", "description", "ingredients", "n_ingredients"]

In [20]:
# removing used columns in train & test datasets

unused_feat_removal(train, feature_to_remove)
unused_feat_removal(test, feature_to_remove)

# Viewing test & traing dataset shape after column removal
train.shape, test.shape

((13663, 3), (5856, 3))

In [21]:
# Viewing traing dataset

train.head()

          user_id  recipe_id  rating
36266  1800243352     371233       5
30564  2001245747     535666       4
3784   2000377661     344916       5
18157  2000547256     272930       0
21671  2002004080      95466       0

In [22]:
# Viewing test dataset

test.head()

          user_id  recipe_id  rating
1364       236262     141789       5
32493  2001707102      43023       5
47505      266635     363150       5
40831     1755201      70522       5
7981   2001052641     447279       0

# User-item Matrix

In [23]:
def create_mappings(train, test):
    user_mapping = {user: i for i, user in enumerate(
        train["user_id"].unique())}
    all_recipe_ids = np.union1d(
        train["recipe_id"].unique(), test["recipe_id"].unique())
    recipe_mapping = {recipe: i for i, recipe in enumerate(all_recipe_ids)}
    return user_mapping, recipe_mapping


def apply_mappings(df, user_mapping, recipe_mapping):
    df["user_id_mapped"] = df["user_id"].map(user_mapping).astype(int)
    df["recipe_id_mapped"] = df["recipe_id"].map(recipe_mapping).astype(int)
    return df


def create_sparse_user_item_matrix(df, n_users, n_items):
    rows = df["user_id_mapped"].values
    cols = df["recipe_id_mapped"].values
    data = df["rating"].values
    return csr_matrix((data, (rows, cols)), shape=(n_users, n_items))

In [24]:
user_mapping, recipe_mapping = create_mappings(train, test)
train = apply_mappings(train, user_mapping, recipe_mapping)
test = apply_mappings(test, user_mapping, recipe_mapping)
n_users = len(np.unique(np.concatenate(
    [train["user_id_mapped"].values, test["user_id_mapped"].values])))
n_items = len(np.unique(np.concatenate(
    [train["recipe_id_mapped"].values, test["recipe_id_mapped"].values])))
train_sparse_matrix = create_sparse_user_item_matrix(train, n_users, n_items)
test_sparse_matrix = create_sparse_user_item_matrix(test, n_users, n_items)

# Feature Inspection

In [25]:
train_sparse_matrix.shape, test_sparse_matrix.shape

((4448, 12410), (4448, 12410))

In [26]:
def calculate_sparsity(sparse_matrix):
    matrix_size = sparse_matrix.shape[0] * sparse_matrix.shape[1]
    num_non_zero = sparse_matrix.nnz
    sparsity = (1 - (num_non_zero / matrix_size)) * 100
    return sparsity

In [27]:
train_sparsity = calculate_sparsity(train_sparse_matrix)
test_sparsity = calculate_sparsity(test_sparse_matrix)

print(f"Training Matrix Sparsity: {train_sparsity}%")
print(f"Testing Matrix Sparsity: {test_sparsity}%")

Training Matrix Sparsity: 99.9752480449162%
Testing Matrix Sparsity: 99.98939124284777%

In [28]:
train_dense_submatrix = train_sparse_matrix[:10, :10].todense()
train_submatrix = pd.DataFrame(train_dense_submatrix)
train_submatrix

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

In [29]:
test_dense_submatrix = train_sparse_matrix[:10, :10].todense()
test_submatrix = pd.DataFrame(test_dense_submatrix)
test_submatrix

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

# Exporting Data

In [30]:
# Exporting datas

with open('../data/processed/train_sparse_matrix.pkl', 'wb') as file:
    pickle.dump(train_sparse_matrix, file)

with open('../data/processed/test_sparse_matrix.pkl', 'wb') as file:
    pickle.dump(test_sparse_matrix, file)

with open('../data/processed/user_mapping.pkl', 'wb') as file:
    pickle.dump(user_mapping, file)

with open('../data/processed/recipe_mapping.pkl', 'wb') as file:
    pickle.dump(recipe_mapping, file)